@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --color-brand-orange: #ff9933;
  --color-brand-green: #138808;
  --color-brand-blue: #000080;
}

:root {
  /* No dark mode for now to keep it bright and travel-y */
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
